<p>upload-file works!</p>

<!-- UPLOAD CREDENTIAL -->
<input type="file" data-role="file" data-prepend="Learning Credential (image or pdf):">
<!-- SHOW UPLOADED IMAGE OR PDF -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!-- EDIT VALUES THAT JS GOT FROM CREDENTIAL -->
<form>
  <div class="form-group">
      <label>Email address</label>
      <input type="email" placeholder="Enter email"/>
      <small class="text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
      <label>Password</label>
      <input type="password" placeholder="Enter email"/>
  </div>
  <div class="form-group">
      <input type="checkbox" data-role="checkbox" data-caption="Remember me">
  </div>
  <div class="form-group">
      <button class="button success">Submit data</button>
      <input type="button" class="button" value="Cancel">
  </div>
</form>
