<p>HEADER WORKS!</p>

<div data-role="appbar" data-expand-point="md">


  <ul class="app-bar-menu">
      <li><a href="#">Home</a></li>
      <li>
          <a href="#" class="dropdown-toggle">Products</a>
          <ul class="d-menu" data-role="dropdown">
              <li><a href="#">Windows 10</a></li>
              <li><a href="#">Office 365</a></li>
              <li class="divider bg-lightGray"></li>
              <li><a href="#">Skype</a></li>
          </ul>
      </li>
      <li><a href="#" >Blog</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#" routerLink="/books">Books</a></li>
      <li><a href="#" routerLink="/credentials">Credentials <span class="badge bg-red fg-white">{{ numberOfCredentials }}</span></a></li>
      <li><a href="#" routerLink="/steplist">Step List</a></li>
      <li><a href="#" routerLink="/uploadfile">Upload Credential</a></li>
      <li><a href="#" routerLink="/user">User</a></li>
      <li><a href="#" routerLink="/videoclass">Video Class</a></li>
      <li><a href="#" routerLink="/notfound">Not Found</a></li>
  </ul>
</div>
