p {
  margin-top: 10px;
}




figure:hover {
  width: calc(100% + 1px);
}

div.img-container.thumbnail:hover {
  // width: calc(100% + 5px);
  border: 1px solid blue;
}
div [class="cell-md-4"] {
  padding-left: 35px;
}





// li:hover figcaption {
//   background-color: rgb(248, 246, 246);
// }
