<!-- https://metroui.org.ua/list.html -->
<!-- SELECT EDUCATION SUBJECT -->
<p>&nbsp;</p>
<!--



<div class="row">
  <div class="cell-md-1"></div>
  <div class="cell-md-2"><input #dp1 data-role="datepicker" data-day="false" data-distance="2" data-on-close="filterByDate(dp1.value, dp2.value)" data-value="2014-09" id="dp_one"></div>
  <div class="cell-md-1"></div>
  <div class="cell-md-4">
    <select data-role="select">
      <optgroup label="Soft Skills">
          <option value="diversity">Diversity</option>
          <option value="dedicated_pentium_hp">Pentium (hp)</option>
          <option value="dedicated_smart_corei3_hp">Smart Core i3 (hp)</option>
      </optgroup>
      <optgroup label="Web Development">
          <option value="mini">Mini</option>
          <option value="site">Site</option>
          <option value="portal">Portal</option>
      </optgroup>
      <optgroup label="Programming">
          <option value="evps0">eVPS-TEST (30 дней)</option>
          <option value="evps1">eVPS-1</option>
          <option value="evps2">eVPS-2</option>
      </optgroup>
    </select>
  </div>
  <div class="cell-md-1"></div>
  <div class="cell-md-2"><input #dp2 data-role="datepicker" data-day="false" data-distance="2" data-on-close="filterByDate(dp1.value, dp2.value)" id="dp_two"></div>
  <div class="cell-md-1"></div>

</div> -->


<p class="text-center h3 text-light">{{ this.getTotalHours() }} hours of extra <span class="mif-school"></span> training by</p>
<div class="d-flex flex-justify-center flex-wrap m-2">
    <button class="button m-1" (click)="sortByDate()">Date <span class="mif-calendar"></span></button>
    <button class="button m-1" (click)="sortByProvider()">Provider <span class="mif-library"></span></button>
    <button class="button m-1" (click)="sortList()">Duration <span class="mif-hour-glass"></span></button>
    <!-- <div class="cell-md-4 mt-4">
        <select data-role="select" data-filter="false" data-prepend="Paints By:" >
            <option value="" selected>All</option>
            <option value="aspnetcore">AspNet Core</option>
            <option value="apis">APIs</option>
            <option value="csharp">C#</option>
            <option value="ipaddress">IP address</option>
            <option value="cleancode">Clean Code</option>
            <option value="java">Java</option>
        </select>
    </div> -->
</div>

<ul id="paintings"
    data-role="list"
    data-sort-class="painting-price"
    data-sort-dir="desc"
    data-cls-list="unstyled-list row flex-justify-center mt-4"
    data-cls-list-item="cell-sm-6 cell-md-4"
>
    <li *ngFor="let course of db.allcourses; let i = index">
        <figure class="text-center">
            <div class="img-container thumbnail">
                <a href="{{ db.allcourses[i].certs[0] }}" target="_blank" title="[{{db.allcourses[i].hours}} {{ (db.allcourses[i].hours === 1 ) ? 'hour' : 'hours'}}] {{ db.allcourses[i].name }}">

                  <img src="{{ db.allcourses[i].certs[1] }}" alt="Credential for {{ db.allcourses[i].name }}">

                  <!-- <div [hidden]="db.allcourses[i].certs[1]">
                    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
                  </div> -->

                </a>



            </div>
            <figcaption class="painting-name">{{ db.allcourses[i].name }}</figcaption>

        </figure>
    </li>

</ul>
